:root { 
    --iris #4D5AE5;
    --ocean #404BBF;
    --navy blue #2E2F42   
    --green #31D0AA
    --slate # 344455
    --light slate #8E8F99
    --cornflower #EFE9FC
    --cloud #F4F4FD 
    --navybluemodal #2E2F42 
    --grey #2E2F42
    --white #FFFFFF
    --dairy #FCFCFC
}
body {
    font-family: `Roboto`, sans-serif;
}
.a {
    text-decoration: none;
    color: inherit:
}
}    
=======
:root { 
    --iris #4D5AE5;
    --ocean #404BBF;
    --navy blue #2E2F42   
    --green #31D0AA
    --slate # 344455
    --light slate #8E8F99
    --cornflower #EFE9FC
    --cloud #F4F4FD 
    --navybluemodal #2E2F42 
    --grey #2E2F42
    --white #FFFFFF
    --dairy #FCFCFC
}
    
.body {
    fonts-family:"Roboto", sans-serify;
    
}
>>>>>>> 085c43725c30cd5cb00111955fe9431073888104

a {
    text-decoration: none; 
    color: ;inherit;
}

.link-logo{
    text-decoration:none ;
    font-family:Raleway; san-serif
    font-size:30 pd ;
    line-height:1.5px ;

}
.web-logo{
    color:var(--iriscolor)
    font-weight: 500; 
}
.page, {
    text-decoration: none;
    list-style: none;
    color: var(--navyblue);

    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}
.contacts-menu {
    
}
.contacts {
    text-decoration: none;
    color: var(--slate, #434455);

/* Body */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
    list-style: none;
}
.iris{
    color:var(--iris) #4D5AE5;
}
.link {
text-decoration: none;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
color: var(--navyblue);
}
.hero-title {
    color: var(--white, #FFF);
    text-align: center;
    
    /* Header 1 */
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
}
.primary{color: azure;
    border-radius: 4px;
background: var(--iris, #4D5AE5);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.bg-hero{
    background: var(--navyblue, #2E2F42);
}
.list{
    list-style: none;
}
.section-title{
    color: var(--navyblue, #2E2F42);
text-align: center;

/* Header 2 */
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize;
}
.footer{
    background: var(--navyblue, #2E2F42);
}
.footer-text{
    color: var(--cloud, #F4F4FD);

/* Body */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}
.projects .name{
    color: var(--navyblue, #2E2F42);

    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
     letter-spacing: 0.4px;
}    
.projects .type{
    color: var(--slate, #434455);

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px; 
}
.weblogo{
    color: var(--iris, #4D5AE5);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}
.footer-logo{
    color: var(--cloud, #F4F4FD);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}
.Studiologo {
    color: var(--navyblue, #2E2F42);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}
