:root { 
--iris :#4D5AE5;
--ocean  :#404BBF;
--navy-blue:#2E2F42;   
--green :#31D0AA;
--slate :#344455;
--light-slate :#8E8F99;
--cornflower :#EFE9FC;
--cloud :#F4F4FD; 
--navy-bluemodal :#2E2F42; 
--grey :#2E2F42;
--white :#FFFFFF;
--dairy :#FCFCFC;
}
  
.lists {
  list-style-type: none; 
  padding: 0;
}
.links {
    text-decoration: none;
    color:currentColor;
}
.logo  {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}
.web {
    color:var(--iris);  
}
.studio-logo {
    color: navy;
}
.page {
    font-weight: 500;
    list-style: none;
    color: var(--navy-blue); 
    font-family: Roboto;
    font-size: 16px;    
}
.current,
.page:hover,
.page:focus{
    color:var(--ocean);
}
.class-contacts {            
    color: var(--slate);
}
.item.links:hover,
.item.links:focus{
    color:var(--ocean);
}
/* Body */
body {
font-family: 'Roboto' ;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
list-style: none;
}
    
.link {
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 21px; 
letter-spacing: 0.54px;
text-transform: uppercase;
color: var(--navyblue);
}
.hero-title {
    color: var(--white);            
    border: none;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
}
.primary {
    cursor: pointer;
    border: none;
    color: var(--white);
    border-radius: 4px;
    background: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.primary:hover,
.primary:focus{
    background:var(--ocean) ;
}
.filter{
    border:1px solid var(--cornflower);
    color: var(--iris);
    border-radius: 4px;
    background: var(--cloud);
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px:/* 150% */
    letter-spacing: 0.64px;
    cursor: pointer;
}
.active,
.filter:hover,
.filter:focus{
    color: var(--white);
    border: 1px solid var(--ocean);
    background-color: var(--ocean);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.bg-hero {
    background: var(--navy-blue);
}
.list {
    list-style: none;
    padding: 0;
}
.section-title{
    color: var(--navy-blue);
text-align: center;

/* Header 3 */
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize;
}
.footer{
    color:var(--white) ;
    background-color: var(--navy-blue);
}
.footer-text{
    color: var(--cloud);

/* Body */
body { 

font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
list-style: none;
}
.projects .name{
    color: var(--navy-blue);

    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
     letter-spacing: 0.4px;
}    
.projects .type{
    color: var(--slate);

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px; 
}

.footer {
    color:var(--white) ;

}
.Studiologo {
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}
.web {
    color: var(--iris);
}